# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.eggs/

# -------------------------
# Virtual Environment
# -------------------------
.venv/
venv/
ENV/

# -------------------------
# Sensitive Files
# -------------------------

*.pem
*.key
*.env

# -------------------------
# Flask Uploads & Logs
# -------------------------
uploads/
log/
*.log

# -------------------------
# Zip files (avoid pushing heavy files)
# -------------------------
*.zip
*.rar
*.7z

# -------------------------
# VS Code
# -------------------------
.vscode/
.settings/

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Google Cloud / Auth
# -------------------------

